<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>
<h1>マイページ</h1>
<p>名前：<%= current_user.name %></p>
<p>Eメール：<%= current_user.email %></p>
<p>郵便番号：<%= current_user.zip %></p>
<p>住所：<%= current_user.address %></p>
<p>プロフィール：<%= current_user.profile %></p>

<%= link_to "編集", edit_user_registration_path %> |
<%= link_to "本一覧", books_path %> 
