<!DOCTYPE html>
<html>
  <head>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
    　<%= t("Logged in as") %>
       <strong><%= current_user.name %></strong>.
      <%= link_to t("profile"), users_show_path, class: 'navbar-link' %> |
      <%= link_to t("Logout"), destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
    <% else %>
      <%= link_to t("Sign up"), new_user_registration_path, class: 'navbar-link'  %> |
      <%= link_to t("Login"), new_user_session_path, class: 'navbar-link'  %>
    <% end %>
  　</p>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
